body{
font-family: Arial, sans-serif;
background:#0f172a;
color:white;
margin:40px;
}

h1{
color:#38bdf8;
}

ul{
list-style:none;
padding:0;
}

li{
background:#1e293b;
margin:10px 0;
padding:15px;
border-radius:8px;
transition:0.3s;
}

li:hover{
background:#334155;
transform:scale(1.02);
}

a{
text-decoration:none;
color:white;
font-weight:bold;
}
.aula{
margin-bottom:40px;
}

.conteudo{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.conteudo iframe{
flex:1;
min-width:400px;
}

